extends layout.pug

block content

  nav.nav
    a(href='/index')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Use the info in your data file and the comments below to complete this template
        //- Use interpolation to dynamically add the project title
        h1= `${project.project_name[0]}`

        //- Use interpolation to dynamically add the project description
        p= `${project.description[0]}`

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Use an `each` iterator and interpolation to dynamically replace the li tags below with the technologies listed for this project
          each technology in technologies
            li= technology

        //Used template literals to add my github links to the template
        a.btn-link(href=`${live_link}` target="_blank") Live Demo
        a.btn-link(href=`${github_link}` target="_blank") GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      //I only included one more image to the project apart from the thumbnail. 
      img.project-img(src=`${project.img_urls[1]}`, alt='Landscape sized photo of my project')
      img.project-img(src=``, alt='')
      img.project-img(src=``, alt='')

    nav.nav
      a(href='/index')
        span &larr;
        |  Back